<div class="module module-cell song block grid-item medium">
	<div class="actions primary" style="display: block;"> 
			<a class="my-btn" id="{{SongID}}" data-song-id="{{SongID}}"></a>
	</div>
	<div class="img-container">
		<img class="img" src="http://images.gs-cdn.net/static/albums/120_{{AlbumID}}.jpg" width="120" height="120">
	</div>
	<div class="module-inner">
		<a class="song-link title" data-song-id="{{SongID}}" title="{{SongName}}">{{SongName}}</a>
		<span class="byline">
			<a href={{Url}} class="artist-link" title="{{ArtistName}}">by {{ArtistName}}</a>
		</span>
	</div>
</div>

