<div class="content home-section">
  <div class="sub-header can-play">
    <a id="{{row_id}}-play-all" class="btn btn-large btn-icon-only btn-rounded play-section"><i class="icon play icon-play-med-gray"></i></a>
    <h2 class="section-title"><span data-translate-text="{{row_title}}">{{row_title}}</span></h2>
    <span class="section-tagline" data-translate-text="">{{row_description}}</span>
  </div>
  <div id="{{row_id}}-container" class="home-content-container">
    <div class="home-grid-container pagable">
      <div class="home-content home-grid" style="position: relative; width: 18200px; left: 0px;">
        <div class="grid-viewport" style="position: relative;">
          <div class="grid-canvas" id="{{row_id}}" style="position: absolute;">
          </div>
        </div>
      </div>
    </div>
    <a class="home-pageable-nav previous-pageable-nav"> 
      <div class="section-page-back">
      </div> 
      <i class="icon pagable-icon icon-boomerang-left-gray"></i> 
    </a>
    <a class="home-pageable-nav next-pageable-nav"> 
      <div class="section-page-back">
      </div> 
      <i class="icon pagable-icon icon-boomerang-right-gray"></i> 
    </a>
  </div>
</div>
